body {
    background-color: #222;
    color: #fff;
    font-family: roboto;
    margin: 0;
  }
  
#root {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

.main-cont {
    background-color: #515050;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 30px;
    width: 600px;
    height: clamp(400px, 50vh, fit-content);
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    /* text-align: center; */
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    background-color: darkgrey;
    border-radius: 10px;
}

input {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    color: #000000;
    font-size: 1.25rem;
    margin: 0 20px;
    outline: none;
    padding: 5px;
    width: clamp(200px, 50vw, 400px);
}

button[type="submit"] {
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #222;
    color: #fff;
  }
  
  #del-btn {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    padding: 2px;
    margin: 0;
}

#task-cont {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
  